{% extends 'base.html' %}
{% block content %}

  <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('content.content_add') }}'">Add content</button>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tbody>
      {% for item in model %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td><a href="{{ url_for('content.content_detail', content_id = item.id) }}">{{ item.title }}</a></td>
          <td>{{ item.is_active }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}