{% extends 'base.html' %}
{% block content %}
    
    <h2 class="md-3">Edit playlist</h2>

    <form action="{{ url_for('playlists.playlist_edit', playlist_id=model.playlist['id']) }}" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Title</label>
        <input type="text" class="form-control" name="name" id="name" value="{{ model.playlist['name'] }}" required />
      </div>
      <div class="mb-3">
        <label for="short_name" class="form-label">Short name</label>
        <input type="text" class="form-control" name="short_name" id="short_name" value="{{ model.playlist['short_name'] }}" required />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="text-box" id="description" name="description"
          required>{{ model.playlist['description'] }}</textarea>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ url_for('playlists.playlist_detail', playlist_id=model.playlist['id']) }}" class="btn btn-primary">Back to detail view</a>
      </div>
    </form> 

    <div class="mb-3">
      <h3>Ordered content list</h3>
      <p>Drag and drop the items to set the order.</p>
      <div id="sorted_content" class="list-group">
        {% for content_info in model.content_info_items %}
          <div class="list-group-item list-group-item-action">
            <input type="hidden" name="display_order" value="{{ content_info['id'] }}"/>
            <span class="display_order_title">{{ content_info['title'] }}</span>
          </div>
        {% endfor %}
      </div>
    </div>  

    <div class="mb-3">
      <button id="sort_button" type="button" class="btn btn-primary" onclick="onOrderedListSubmit()">Set order</button>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script>
      onOrderedListSubmit = function() {
        
        // var sortedContentDiv = document.getElementById('sorted_content');
        var domItems = document.querySelectorAll('input[type="hidden"]');
          
        let sortedItems = [];
        for (i = 0; i < domItems.length; i++) {

          // find the display_order_title element and get the content title 
          let sibling = domItems[i].nextElementSibling;
          let title = null;
          while (sibling) {
            if (sibling.classList.contains('display_order_title')) {
              title = sibling.textContent;
              break;
            }
            sibling = sibling.nextElementSibling; // Move to the next sibling
          }
          
          // create a sorted item object and add it to the sorted items array
          sortedItem = {
            id: domItems[i].value,
            display_order: i + 1
          };
          sortedItems.push(sortedItem);
        } 

        postSortedContentItems(sortedItems);
      }
    
      postSortedContentItems = function(sortedItems) {

        let url = "{{ url_for('playlists.playlist_order_update', playlist_id=model.playlist['id']) }}";

        fetch(url, {
          method: 'POST', // Specify the request method
          headers: {
              'Content-Type': 'application/json', // Specify the content type
          },
          body: JSON.stringify(sortedItems) // Convert the data object to JSON
        })
        .then(response => {
          if (!response.ok) {
              throw new Error('Network response was not ok: ' + response.statusText);
          }
        })
        .then(data => {
            alert('The list order was saved successfully.');
        })
        .catch(error => {
          alert('Something went wrong. Failed to save the list order.');
          console.error('Error:', error); // Handle errors
        });
      }

      var sortedContentDiv = document.getElementById('sorted_content');
      var sortable = Sortable.create(sortedContentDiv, {
        group: 'shared',
        animation: 150,
      });
    </script>

    {% include 'editor_script.html' %}

{% endblock %}
