{% extends 'base.html' %}
{% block content %}

<div class="mb-3">
  <button 
  type="button" 
  class="btn btn-primary" 
  onclick="window.location.href='{{ url_for('playlists.playlist_edit', playlist_id=model.playlist['id']) }}'">Edit</button>
</div>

<h2>{{ model.playlist["name"] }}</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Display order</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>

      {% for content_info in model.get_content() %}
      <tr>
          <th scope="row">{{ content_info["display_order"] }}</th>
          <td><a href="{{ url_for('content.content_detail', content_id=content_info['id']) }}">{{ content_info.title }}</a></td>
      </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
