{% include 'head.html' %}

<body>
  {% include 'nav.html' %}
    <div class="container main">
    
        <h2>Results for "{{ model.get_search_term()}}"</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for result in model.get_search_results() %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td><a href="{{ url_for('modules.module_detail', module_id=result['id']) }}">{{ result['title'] }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
    
{% include 'footer.html' %}
